*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a{color:black}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.root{
	font-weight: 400;
	font-family:'Poppins';
}

.container{
    max-width: 1140px;
    padding: 0px 10px 0px 10px;
    margin: 0 auto;
}


.header-container{
    background-color: #0B1040;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0px;
}

.menu__list{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 35px;

}



.menu__link{
    text-decoration: none;
    color:white;
}


.top-container{
	background-image: url('../img/q.png');
	background-repeat: no-repeat;
	background-position:bottom center;
	background-size:cover;
}

.top__inner{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:44px 0px 91px;
	margin-bottom: 100px;

}

.top__info{
	max-width:470px;
}

.top__title{
	color:white;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 60px;
}

.top__text{
	color:white;
	font-size: 20px;
	margin-bottom: 44px;
}

.top__image{
	max-width: 570px;
}

.contacts__link{
	border: 1px solid #000;
border-radius: 25px;
padding: 17px 68px;
width: 227px;
height: 58px;
background-color: white;
font-size: 20px;
}


.about__inner{
	display: flex;
    justify-content: center;
	gap: 0 90px;
	margin-bottom: 100px;

}

.about__image{
	width: 472px;
}

.about__title{
	font-weight: 600;
	font-size: 48px;
	line-height: 90%;
	letter-spacing: 0.1em;
	padding-bottom: 44px;
}

.about__text{
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	width: 570px;
	padding-bottom: 62px;
}

.about__link{
	border: 1px solid #000;
	border-radius: 25px;
	padding: 17px 30px;
	width: 212px;
	height: 58px;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
}

.button__row{
	padding-left: 10px;
}

.benefits__inner{
	display: flex;
    justify-content: center;
	gap: 0 90px;
	margin-bottom: 100px;
}

.benefits__title{
	font-weight: 600;
	font-size: 48px;
	line-height: 90%;
	padding-bottom: 55px;
}

.benefits__list{
	font-weight: 400;
	font-size: 24px;
	line-height: 179%;
	padding-bottom:62px;
}

.benefits__link{
	border: 1px solid #000;
	border-radius: 25px;
	padding: 17px 30px;	
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
}

.benefits__image{
	width: 472px;
}

.benefits__list{
	list-style-type: none;
}

.comments__title{
	font-weight: 600;
	font-size: 48px;
	line-height: 50%;
	text-align: center;
	padding-bottom: 60px;
}

.comments__inner{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 20px;
	margin-bottom: 100px;
}

.comments__card{
	border-radius: 50px;
	width: 275px;
	height: 330px;
	background-color: #303030;
	color:white;
	text-align: center;
	padding:44px;
}

.comments__image{
	width: 79px;
	padding-bottom: 25px;
}

.comments__card-center{
	border-radius: 50px;
	width: 374px;
	height: 456px;
	background-color: #303030;
	color:white;
	text-align: center;
	padding:58px;
}

.comments__image-center{
	width: 107px;
	padding-bottom: 25px;
}

.comments__card-name{
	padding-bottom: 25px;
	font-weight: 600;
	font-size: 20px;
}

.comments__text{
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
}


.price__title{
	font-weight: 600;
	font-size: 48px;
	line-height: 50%;
	text-align: center;
	padding-bottom: 60px;
}

.price__inner{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 17px;
	margin-bottom: 100px;
}

.price__card{
	border-radius: 50px;
	width: 275px;
	height: 477px;
	background: #303030;
	color:white;
	padding:44px;
	text-align: center;
}

.card_title{
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	padding-bottom: 20px;	
}

.price__image{
	padding-bottom: 20px;
	width: 129px;
}

.price__text{
	font-weight: 400;
	font-size: 17px;
	line-height: 120%;	
	text-align: left;
}

.price__item{
	list-style-type: disc;
}

.price__list{
	text-align: left;
}

.footer-container{
	background-image: url('../img/13.png');
	background-repeat: no-repeat;
	background-position:bottom center;
	background-size:cover;
}

.footer__inner{
	display: flex;
	justify-content: center;
	gap:0 250px;
	padding:33px 0px 173px;
	color:white;
}

.form__input{
	display:block;
	margin: 37px 0px;
	border: 1px solid #000;
	border-radius: 25px;
	width: 429px;
	height: 53px;
	font-size: 25px;
}

.footer__title{
	font-weight: 600;
	font-size: 32px;
	line-height: 75%;
	text-align: center;
	padding-bottom:82px;
}

.form__text{
	font-weight: 600;
	font-size: 24px;
}


.form__button{
	border: 1px solid #000;
	border-radius: 25px;
	padding: 17px 48px;
	font-weight: 400;
	font-size: 20px;
}

.row{
	margin-top: 5px;
}

.footer__image{
	display:flex;
	gap:0 58px;
	padding-bottom: 61px;
}

.footer__text{
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
}